<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>RMXMetal 2.0.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>RMXMetal 2.1.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>506680501A9B14FF0085511D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>506680671A9B14FF0085511D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>506EC9801A9B286200063A49</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>506EC9961A9B286200063A49</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
